*{
    background-color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#myButton{
    font-size: 3em;
    border-radius: 20px;
    padding: 0px 30px ;
    margin: 20px;
    background-color: rgba(6, 44, 44, 0.821);
}
.labels{
    font-size: 3em;
    color: aquamarine;
}
 



