body{
    background-color: rgba(205, 207, 205, 0.915);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(140, 141, 142);
}
form{
    background-color: rgb(241, 238, 238);
    text-align: center;
    border-radius: .8em;
    width: 400px;
    margin:auto;
    padding: 5px;
    box-shadow:4px 4px 10px rgb(169, 170, 170);
}
#textbox{
    width: 50%;
    text-align: center;
    border: 2px solid rgb(95, 98, 98);
    border-radius: 5px;
    padding: 3px;
    font-size: 1.2em;
    color: rgb(101, 103, 103);
    margin-bottom: 10px;font-weight: 500;
}
label{
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(36, 61, 83, 0.782);
}
button{
    margin-top: 10px;
    background-color: hsl(0, 100%, 50%);
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(199, 36, 36);
}
button:hover{
background-color: rgb(229, 226, 226);
color:  hsl(0, 79%, 44%);
box-shadow: 2px 2px 10px rgb(104, 103, 103);
}
#result{
    font-size: 1.5em;
    font-weight: 500;
}
